engine-strict=true
shamefully-hoist=true
strict-peer-dependencies=false

# link-workspace-packages=false # 如果启用此选项，本地可用的包将链接到node_modules 而不是从注册表中下载
# prefer-workspace-packages=false # 如果启用此选项，则工作区中的本地包优先于注册表中的包，即使注册表中有更新版本的包

# 此选项的优点：
# 每个依赖都是一个单例
# 在 monorepo 中更快的安装
# 代码审查中的更改更少，因为它们都在一个文件中 Default: true
# shared-workspace-lockfile=false

# 如果启用此功能，则将使用工作空间协议添加新的依赖项，如果（且仅当）它们存在于工作空间中 Default: true
save-workspace-protocol=false

auto-install-peers=true